.bdy {
    fill:none; stroke:black; stroke-width: 1;
}

#tempTrace {
    stroke:red;
}

#dewptTrace {
    stroke:green;
}

#sbParcelTrace {
    stroke:blue; stroke-width: 2; opacity: 0.5;
}

#isotherms {
    fill:none; stroke:gray; opacity:0.7; stroke-width: 1
}

#isobars {
    fill:none; stroke:gray; opacity:0.7; stroke-width: 1
}

#mixingRatios {
    fill:none; stroke:pink; opacity:1; stroke-width: 1; stroke-dasharray: 10,5
}

#dryAdiabats {
    fill:none; stroke:orange; opacity:0.8; stroke-width: 1; stroke-dasharray: 20,10,5,5,5,10
}

#moistAdiabats {
    fill:none; stroke:green; opacity:0.5; stroke-width: 1; stroke-dasharray: 20,10,5,5,5,10
}

#windBarbs {
    stroke:black; opacity:1; stroke-width: 1
}

#windRadii {
    fill:none; stroke:gray; stroke-width: 1; opacity: 0.7; stroke-dasharray: 15,5
}

#hodoAxes {
    fill:none; stroke:gray; stroke-width: 1; opacity: 0.7;
}

.trace {
    stroke-width: 3; opacity: 1.0
}

.km_0_3 {
    stroke:red;
}

.km_3_6 {
    stroke:#00FF00;
}

.km_6_9 {
    stroke:#FFFF00;
}

.km_gt_9 {
    stroke:#00FFFF;
}

#TvTrace {
    stroke:red; stroke-dasharray: 6,3; stroke-width: 2;
    opacity: 0.5;
}

#sbParcelTraceTv {
    stroke:blue; stroke-dasharray: 6,3; stroke-width: 2;
}

#mlParcelTrace {
    stroke:green; stroke-width: 2; opacity: 0.5;
}